@model List<Models.EF.ProductCategory>

            @foreach (var item in Model)
            {
                <li><a href="/san-pham/@item.MetaTitle-@item.ID">@item.Name</a></li>
            }
        @*Đây là phần đầu của menu danh mục sản phẩm*@