
@model List<Models.EF.Menu>

<header id="aa-header">
    <!-- start header top  -->
    <div class="aa-header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-header-top-area">
                        <!-- start header top left -->
                        <div class="aa-header-top-left">
                            <!-- start language -->
                            <div class="aa-language">
                                <div class="dropdown">
                                    <a class="btn dropdown-toggle" href="#" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <img src="~/Data/Image/Language/vietnam.jpg" alt="english flag">VN
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#"><img src="~/Data/Image/Language/vietnam.jpg" alt="">VN</a></li>
                                        <li><a href="#"><img src="~/Data/Image/Language/english.jpg" alt="">ENG</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- / language -->
                            <!-- start currency -->
                            <div class="aa-currency">
                                <div class="">
                                    <a class="btn" href="#" type="button" aria-haspopup="true" aria-expanded="true">
                                        <i class="fa fa-money"></i>VND
                                    </a>
                                </div>
                            </div>
                            <!-- / currency -->
                            <!-- start cellphone -->
                            <div class="cellphone hidden-xs">
                                <p><span class="fa fa-phone"></span>070-863-6775</p>
                            </div>
                            <!-- / cellphone -->
                        </div>
                        <!-- / header top left -->
                        <div class="aa-header-top-right">
                            <ul class="aa-head-top-nav-right">
                                @foreach (var item in Model)
                                {
                                    <li><a href="@item.Link" target="@item.Target">@item.Text</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / header top  -->
