@{
    ViewBag.Title = "About";
}
    <div class="container">
        <h2>Sơ lược về shop chúng tôi</h2>
        <p>LNBshop là một cty CP kinh doanh bán hàng trực tuyến trên toàn quốc & uy tín số 1 Việt Nam</p>
        <p>Shop được thành lập vào năm 2020 và đã có hàng triệu đơn đặt hàng từ khắp các tỉnh thành</p>
    </div>
