@{
    ViewBag.Title = "Contact";
}
<div class="content">
    <div class="container">
        <h2>Thông tin liên hệ</h2>
        <p>Công ty CP LNB Shop</p><p>Địa chỉ: số 91/12, tổ 1, ấp 3, long An, Long Thành, Đồng Nai</p> <p>Điện thoại: 07 0863 6775</p>
    </div>
</div>